<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/style/admin.common.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div th:fragment="sidebar">
        <div class="sidebar">
            <div class="logo-details">
                <div class="logo"></div>
                <div class="logo-name"></div>
            </div>
            <ul class="nav-links">
                <li>
                    <a th:href="@{/admin/home}">
                        <i class="fa-solid fa-house"></i>
                        <span class="link-name">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/admin/order}">
                        <i class="fa-solid fa-utensils"></i>
                        <span class="link-name">Order</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/admin/customer}">
                        <i class="fa-solid fa-user"></i>
                        <span class="link-name">Customer</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/admin/category}">
                        <i class="fa-solid fa-list"></i>
                        <span class="link-name">Category</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/admin/product}">
                        <i class="fa-solid fa-wheat-awn"></i>
                        <span class="link-name">Product</span>
                    </a>
                </li>
                <li>
                    <form action="/logout" method="post">
                        <a href="#">
                            <button type="submit" style="all: unset;">
                                <i class="fa-solid fa-right-to-bracket"></i>
                                <span class="link-name">Logout</span>
                            </button>
                            <input type="hidden" name="_csrf" data-th-value="${_csrf.token}">
                        </a>
                    </form>
                </li>
            </ul>
        </div>
    </div>

    <!--home-content-->
    <section class="home-section">
        <nav th:fragment="navbar">
            <div class="sidebar-button">
                <i class="fa-solid fa-bars"></i>
                <span class="dashboard">Dashboard</span>
            </div>
            <div class="search-box">
                <input type="text" placeholder="Search...">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="profile-details">
                <img src="https://plus.unsplash.com/premium_photo-1688350808212-4e6908a03925?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cGVyc29uJTIwd2hpdGUlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww"
                    alt="">
                <span class="admin_name">Pratikshya</span>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </nav>
    </section>
</body>