<!DOCTYPE html>
<html lang="en">

<head data-th-replace="~{admin/common :: head}"></head>

<body>
    <link rel="stylesheet" href="/style/admin.customer.css">
    <div data-th-replace="~{admin/common :: sidebar}"></div>


    <!--home-content-->
    <section class="home-section">
        <nav data-th-replace="~{admin/common :: navbar}"></nav>
        <!--table-->
        <div class="table-container">
            <h2>Customer Details</h2>
            <table>
                <thead>
                    <tr>
                        <th>User ID</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Registration Date</th>
                        <th>Total Order</th>
                        <th>Total Spend</th>
                        <th>Last Order</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Rajesh</td>
                        <td>Bhubaneswar, Odisha</td>
                        <td>2022-01-15</td>
                        <td>25</td>
                        <td>₹15,000</td>
                        <td>2022-01-15</td>
                        <td>Active</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Anjali</td>
                        <td>Cuttack, Odisha</td>
                        <td>2021-03-22</td>
                        <td>18</td>
                        <td>₹10,800</td>
                        <td>2022-01-15</td>
                        <td>Active</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Suresh</td>
                        <td>Puri, Odisha</td>
                        <td>2020-07-10</td>
                        <td>30</td>
                        <td>₹18,000</td>
                        <td>2022-01-15</td>
                        <td>Inactive</td>
                    </tr>
                    <!-- <tr>
                        <td>4</td>
                        <td>Kiran</td>
                        <td>Rourkela, Odisha</td>
                        <td>2022-11-05</td>
                        <td>10</td>
                        <td>₹6,000</td>
                        <td>2022-01-15</td>
                        <td>Active</td>
                    </tr> -->
                </tbody>
            </table>
            <div class="see-all-button">
                <button>See All</button>
            </div>
        </div>


    </section>





</body>

</html>