<!DOCTYPE html>
<html lang="en">

<head data-th-replace="~{admin/common :: head}">

</head>

<body>
    <link rel="stylesheet" href="/style/admin.home.css">
    <div data-th-replace="~{admin/common :: sidebar}"></div>

    <!--home-content-->
    <section class="home-section">
        <nav data-th-replace="~{admin/common :: navbar}"></nav>


        <!--home -content-->
        <div class="home-content">
            <div class="overview-boxes">
                <div class="box box1">
                    <div class="left-side">
                        <div class="box_topic">Total Order</div>
                        <div class="number">40,647</div>
                        <div class="indicator">
                            <i class="fa-solid fa-arrow-up"></i>
                            <span class="text">Up from yesterday</span>
                        </div>
                    </div>
                    <i class="fa-solid fa-cart-shopping icon1"></i>
                </div>
                <div class="box box2">
                    <div class="left-side">
                        <div class="box_topic">Complete Order</div>
                        <div class="number">40,647</div>
                        <div class="indicator">
                            <i class="fa-solid fa-arrow-up"></i>
                            <span class="text">Up from yesterday</span>
                        </div>
                    </div>
                    <i class="fa-solid fa-check-circle icon2"></i>
                </div>
                <div class="box box3">
                    <div class="left-side">
                        <div class="box_topic">Order On Process</div>
                        <div class="number">40,647</div>
                        <div class="indicator">
                            <i class="fa-solid fa-arrow-up"></i>
                            <span class="text">Up from yesterday</span>
                        </div>
                    </div>
                    <i class="fa-solid fa-cogs icon3"></i>
                </div>
                <div class="box box4">
                    <div class="left-side">
                        <div class="box_topic">Pending Order</div>
                        <div class="number">40,647</div>
                        <div class="indicator">
                            <i class="fa-solid fa-arrow-up"></i>
                            <span class="text">Up from yesterday</span>
                        </div>
                    </div>
                    <i class="fa-solid fa-hourglass-half icon4"></i>
                </div>
                <div class="box box5">
                    <div class="left-side">
                        <div class="box_topic">Cancelled Order</div>
                        <div class="number">40,647</div>
                        <div class="indicator">
                            <i class="fa-solid fa-arrow-down"></i>
                            <span class="text">Down from yesterday</span>
                        </div>
                    </div>
                    <i class="fa-solid fa-times-circle icon5"></i>
                </div>
            </div>

            <!--sales -content-->
            <div class="sales-boxes">
                <div class="recent-sale-box">
                    <div class="title">Recent Sales</div>
                    <div class="sales-details">
                        <table>
                            <thead>
                                <tr>
                                    <th>Customer</th>
                                    <th>Address</th>
                                    <th>Food Item</th>
                                    <th>Quantity</th>
                                    <th>Status</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-th-each="order : ${recentOrders}">
                                    <td data-th-text="${order.user.userName}"></td>
                                    <td data-th-text="${order.user.userAddress}"></td>
                                    <td>
                                        <ul>
                                            <li data-th-each="item : ${order.orderItems}">
                                                <span data-th-text="${item.foodItem.foodName}"></span>
                                            </li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li data-th-each="item : ${order.orderItems}">
                                                <span data-th-text="${item.orderItemQuantity}"></span>
                                            </li>
                                        </ul>
                                    </td>
                                    <td>
                                        <p class="status"
                                            data-th-class="'status ' + ${order.orderStatus.name().toLowerCase()}">
                                        </p>
                                        <span data-th-text="${order.orderStatus}"></span>
                                    </td>
                                    <td><strong data-th-text="'₹' + ${order.totalPrice}"></strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="button">
                        <a href="/admin/order">See all</a>
                    </div>
                </div>
                <!-- right-side -->
                <div class="top-sale-box">
                    <div class="title">Top Selling Product</div>
                    <ul>
                        <li>
                            <a href="#">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7eQnWra28mt4EcXQRE23Q2s9X-Z1ivWCVPw&s"
                                    alt="">
                                <span class="product_name">Biryani</span>
                            </a>
                            <span class="price">₹199</span>
                        </li>
                        <li>
                            <a href="#">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrZI4fpd99N24t0IIIvbF_-umccwq7KGWvSg&s"
                                    alt="">
                                <span class="product_name">Paneer Tikka</span>
                            </a>
                            <span class="price">₹199</span>
                        </li>
                        <li>
                            <a href="#">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIT3U7av9FA151qQDIYG-NfF-LUj5NOh6KRg&s"
                                    alt="">
                                <span class="product_name">Lachha Paratha</span>
                            </a>
                            <span class="price">₹199</span>
                        </li>
                        <li>
                            <a href="#">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQA7w5owgq65y7Q1MOXr-3zXEWhkfmUWkstIg&s"
                                    alt="">
                                <span class="product_name">Prawn Masala</span>
                            </a>
                            <span class="price">₹199</span>
                        </li>
                        <li>
                            <a href="#">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4F5mvpfvqybELWHD4-D15VtZTD2kDVcc0-w&s"
                                    alt="">
                                <span class="product_name">Blackberry mousse</span>
                            </a>
                            <span class="price">₹199</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

</body>

</html>