<!DOCTYPE html>
<html lang="en">

<head data-th-replace="~{admin/common :: head}">

</head>

<body>
    <link rel="stylesheet" href="/style/admin.home.css">
    <div data-th-replace="~{admin/common :: sidebar}"></div>
my

    <!--home-content-->
    <section class="home-section">
        <nav data-th-replace="~{admin/common :: navbar}"></nav>


        <!--home -content-->
        <div class="home-content">
            <div class="overview-boxes">
                <div class="box box1">
                    <div class="left-side">
                        <div class="box_topic">Total Order</div>
                        <div class="number">40,647</div>
                        <div class="indicator">
                            <i class="fa-solid fa-arrow-up"></i>
                            <span class="text">Up from yesterday</span>
                        </div>
                    </div>
                    <i class="fa-solid fa-cart-shopping icon1"></i>
                </div>
                <div class="box box2">
                    <div class="left-side">
                        <div class="box_topic">Complete Order</div>
                        <div class="number">40,647</div>
                        <div class="indicator">
                            <i class="fa-solid fa-arrow-up"></i>
                            <span class="text">Up from yesterday</span>
                        </div>
                    </div>
                    <i class="fa-solid fa-check-circle icon2"></i>
                </div>
                <div class="box box3">
                    <div class="left-side">
                        <div class="box_topic">Order On Process</div>
                        <div class="number">40,647</div>
                        <div class="indicator">
                            <i class="fa-solid fa-arrow-up"></i>
                            <span class="text">Up from yesterday</span>
                        </div>
                    </div>
                    <i class="fa-solid fa-cogs icon3"></i>
                </div>
                <div class="box box4">
                    <div class="left-side">
                        <div class="box_topic">Pending Order</div>
                        <div class="number">40,647</div>
                        <div class="indicator">
                            <i class="fa-solid fa-arrow-up"></i>
                            <span class="text">Up from yesterday</span>
                        </div>
                    </div>
                    <i class="fa-solid fa-hourglass-half icon4"></i>
                </div>
                <div class="box box5">
                    <div class="left-side">
                        <div class="box_topic">Cancelled Order</div>
                        <div class="number">40,647</div>
                        <div class="indicator">
                            <i class="fa-solid fa-arrow-down"></i>
                            <span class="text">Down from yesterday</span>
                        </div>
                    </div>
                    <i class="fa-solid fa-times-circle icon5"></i>
                </div>
            </div>

            <!--sales -content-->
            <div class="sales-boxes">
                <div class="recent-sale-box">
                    <div class="title">Recent Sales</div>
                    <div class="sales-details">
                        <ul class="details">
                            <li class="topic">User ID</li>
                            <li><a href="#">15668</a></li>
                            <li><a href="#">56876</a></li>
                            <li><a href="#">45647</a></li>
                            <li><a href="#">56576</a></li>
                            <li><a href="#">45676</a></li>
                            <li><a href="#">45676</a></li>
                        </ul>
                        <ul class="details">
                            <li class="topic">Date</li>
                            <li><a href="#">11 Feb 2025</a></li>
                            <li><a href="#">11 Feb 2025</a></li>
                            <li><a href="#">11 Feb 2025</a></li>
                            <li><a href="#">11 Feb 2025</a></li>
                            <li><a href="#">11 Feb 2025</a></li>
                            <li><a href="#">45676</a></li>
                        </ul>
                        <ul class="details">
                            <li class="topic">Customer</li>
                            <li><a href="#">mahendra Dhoni</a></li>
                            <li><a href="#">Virat</a></li>
                            <li><a href="#">SS iyer</a></li>
                            <li><a href="#">Ducket</a></li>
                            <li><a href="#">Mark Wood</a></li>
                            <li><a href="#">45676</a></li>
                        </ul>
                        <ul class="details">
                            <li class="topic">Sales</li>
                            <li><a href="#">Delivered</a></li>
                            <li><a href="#">Delivered</a></li>
                            <li><a href="#">out for delivery</a></li>
                            <li><a href="#">Pending</a></li>
                            <li><a href="#">Pending</a></li>
                            <li><a href="#">45676</a></li>
                        </ul>
                        <ul class="details">
                            <li class="topic">Total</li>
                            <li><a href="#">₹450.00</a></li>
                            <li><a href="#">₹450.00</a></li>
                            <li><a href="#">₹450.00</a></li>
                            <li><a href="#">₹450.00</a></li>
                            <li><a href="#">₹450.00</a></li>
                            <li><a href="#">45676</a></li>
                        </ul>
                    </div>
                    <div class="button">
                        <a href="#">See all</a>
                    </div>
                </div>
                <!-- right-side -->
                <div class="top-sale-box">
                    <div class="title">Top Selling Product</div>
                    <ul>
                        <li>
                            <a href="#">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7eQnWra28mt4EcXQRE23Q2s9X-Z1ivWCVPw&s"
                                    alt="">
                                <span class="product_name">Biryani</span>
                            </a>
                            <span class="price">₹199</span>
                        </li>
                        <li>
                            <a href="#">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrZI4fpd99N24t0IIIvbF_-umccwq7KGWvSg&s"
                                    alt="">
                                <span class="product_name">Paneer Tikka</span>
                            </a>
                            <span class="price">₹199</span>
                        </li>
                        <li>
                            <a href="#">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIT3U7av9FA151qQDIYG-NfF-LUj5NOh6KRg&s"
                                    alt="">
                                <span class="product_name">Lachha Paratha</span>
                            </a>
                            <span class="price">₹199</span>
                        </li>
                        <li>
                            <a href="#">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQA7w5owgq65y7Q1MOXr-3zXEWhkfmUWkstIg&s"
                                    alt="">
                                <span class="product_name">Prawn Masala</span>
                            </a>
                            <span class="price">₹199</span>
                        </li>
                        <li>
                            <a href="#">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4F5mvpfvqybELWHD4-D15VtZTD2kDVcc0-w&s"
                                    alt="">
                                <span class="product_name">Blackberry mousse</span>
                            </a>
                            <span class="price">₹199</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

</body>

</html>