<!DOCTYPE html>
<html lang="en">

<head data-th-replace="~{admin/common :: head}"></head>

<body>
    <link rel="stylesheet" href="/style/admin.order.css">
    <div data-th-replace="~{admin/common :: sidebar}"></div>


    <!--home-content-->
    <section class="home-section">
        <nav data-th-replace="~{admin/common :: navbar}"></nav>

        <!--table-->
        <div class="table_header">
            <h2>Recent Order</h2>
            <div class="table_body">
                <table>
                    <thead>
                        <tr>
                            <th>User ID</th>
                            <th>Date</th>
                            <th>Customer</th>
                            <th>Address</th>
                            <th>food-item</th>
                            <th>Quantity</th>
                            <th>Status</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>446</td>
                            <td>5/11/2025</td>
                            <td>neha</td>
                            <td>rkl</td>
                            <td>noodles</td>
                            <td>5 plt</td>
                            <td>
                                <p class="status delivered">Delivered</p>
                            </td>
                            <td><strong>₹53.00</strong></td>
                        </tr>
                        <tr>
                            <td>446</td>
                            <td>5/11/2025</td>
                            <td>neha</td>
                            <td>rkl</td>
                            <td>noodles</td>
                            <td>5 plt</td>
                            <td>
                                <p class="status pending">Pending</p>
                            </td>
                            <td><strong>₹53.00</strong></td>
                        </tr>
                        <tr>
                            <td>446</td>
                            <td>5/11/2025</td>
                            <td>neha</td>
                            <td>rkl</td>
                            <td>noodles</td>
                            <td>5 plt</td>
                            <td>
                                <p class="status cancelled">Cancelled</p>
                            </td>
                            <td><strong>₹53.00</strong></td>
                        </tr>
                        <tr>
                            <td>446</td>
                            <td>5/11/2025</td>
                            <td>neha</td>
                            <td>rkl</td>
                            <td>noodles</td>
                            <td>5 plt</td>
                            <td>
                                <p class="status pending">Pending</p>
                            </td>
                            <td><strong>₹53.00</strong></td>
                        </tr>
                        <tr>
                            <td>446</td>
                            <td>5/11/2025</td>
                            <td>neha</td>
                            <td>rkl</td>
                            <td>noodles</td>
                            <td>5 plt</td>
                            <td>
                                <p class="status delivered">Delivered</p>
                            </td>
                            <td><strong>₹53.00</strong></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>


    </section>


</body>

</html>