<!DOCTYPE html>
<html lang="en">

<head data-th-replace="~{admin/common :: head}"></head>

<body>
    <link rel="stylesheet" href="/style/admin.order.css">
    <div data-th-replace="~{admin/common :: sidebar}"></div>


    <!--home-content-->
    <section class="home-section">
        <nav data-th-replace="~{admin/common :: navbar}"></nav>

        <!--table-->
        <div class="table_header">
            <h2>Recent Order</h2>
            <div class="table_body">
                <table>
                    <thead>
                        <tr>
                            <th>User ID</th>
                            <th>Customer</th>
                            <th>Address</th>
                            <th>food-item</th>
                            <th>Quantity</th>
                            <th>Status</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-th-each="order : ${orders}">
                            <td data-th-text="${order.orderId}"></td>
                            <!-- <td data-th-text="${order.orderDate}"></td> -->
                            <td data-th-text="${order.user.userName}"></td>
                            <td data-th-text="${order.user.userAddress}"></td>
                            <td>
                                <ul>
                                    <li data-th-each="item : ${order.orderItems}">
                                        <span data-th-text="${item.foodItem.foodName}"></span>
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li data-th-each="item : ${order.orderItems}">
                                        <span data-th-text="${item.orderItemQuantity}"></span>
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <p class="status" data-th-class="'status ' + ${order.orderStatus.name().toLowerCase()}">
                                </p>
                                <span data-th-text="${order.orderStatus}"></span>
                                </p>
                            </td>
                            <td><strong data-th-text="'₹' + ${order.totalPrice}"></strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</body>

</html>