<!DOCTYPE html>
<html lang="en">

<head data-th-replace="~{admin/common :: head}"></head>

<body>
    <link rel="stylesheet" href="/style/admin.product.css">
    <div data-th-replace="~{admin/common :: sidebar}"></div>

    <!--home-content-->
    <section class="home-section">
        <div class="container">
            <h2><i class="fa-solid fa-wheat-awn"></i>Product Management</h2>
            <div class="actions">
                <button class="btn btn-add" onclick="openModal()">Add Product</button>
                <input type="text" id="search" placeholder="Search Product..." onkeyup="searchProduct()">
            </div>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>

                            <th>Category Name</th>
                            <th>Food Name</th>
                            <th>Food Description</th>
                            <th>Price</th>
                            <th>Product Image</th>
                            <th>Food Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="productTable">
                        <tr data-th-each="item : ${foodItems}">
                            <td data-th-text="${item.category.categoryName}"></td>
                            <td data-th-text="${item.foodName}"></td>
                            <td data-th-text="${item.foodDescription}"></td>
                            <td data-th-text="${item.price}"></td>
                            <td data-th-text="${item.foodItemStatus}"></td>
                            <td>
                                <img data-th-src="|/foodItem/image/${item.foodId}|" alt="samosha" height="40">
                            </td>
                            <td>
                                <button class="edit-btn">Edit</button>
                                <button class="delete-btn">Delete</button>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal" id="productModal">
            <form id="productForm" class="modal-content" method="post" action="/admin/product"
                enctype="multipart/form-data">
                <h3>Add/Edit Product</h3>

                <label>Category Name:
                    <select id="categoryName" name="categoryId">
                        <option data-th-each="category : ${categories}" data-th-text="${category.categoryName}"
                            data-th-value="${category.categoryId}">
                        </option>
                        <!-- Dynamic Categories Here -->
                    </select>
                </label>
                <label>Food Name: <input type="text" name="foodName" id="productName"></label>
                <label>Food Description: <input type="text" name="foodDescription" id="productDescription"></label>
                <label>Price: <input type="number" name="price" id="productPrice"></label>
                <label for="productImage">Product Image:</label>
                <input type="file" name="foodItemImageFile" id="product" accept="image/png, image/jpeg, image/jpg">

                <label>Food Status:
                    <select id="productStatus">
                        <option value="Available">Available</option>
                        <option value="Unavailable">Unavailable</option>
                    </select>
                </label>
                <button type="submit">Submit</button>
                <button type="button" onclick="closeModal()">Cancel</button>
            </form>
        </div>
        <!-- End of Modal (Form Section) -->

        <script src="/script/admin.product.js"></script>
    </section>
</body>

</html>