<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/style/admin.home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
</head>

<body>
    <section class="header">
        <div class="logo">
            <img src="/image/flavourhub-name.png" alt="">
            <h2>FlavourHub</h2>
        </div>
        <div class="search-notification-profile"></div>
        <div class="search">
            <input type="text" placeholder="Search..">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <div class="notification-profile">
            <div class="picon bell">
                <i class="fa-solid fa-bell"></i>
            </div>
            <div class="picon chat">
                <i class="fa-brands fa-rocketchat"></i>
            </div>
            <div class="picon menu">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="picon profile ">
                <i class="fa-solid fa-user"></i>
            </div>
        </div>
    </section>
    <section class="main">
        <div class="sidebar">jdfjkddf</div>
        <div class="main-content">hjhfkds</div>
    </section>


</body>

</html>