<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flavour hub</title>
    <link rel="stylesheet" href="/style/admin.home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
</head>
<body>
    <div class="side-menu">
        <div class="brand-name">
            <h1>FlavourHub</h1>

        </div>
        <ul>
            <li><i class="fa-solid fa-house"></i> &nbsp; Dashboard</li>
            <li><i class="fas fa-utensils"></i> &nbsp; Orders</li>
            <li><i class="fas fa-hamburger"></i> &nbsp; Menu</li>
            <li><i class="fas fa-users"></i> &nbsp; Cutomer</li>
            <li><i class="fas fa-chart-line"></i> &nbsp; Analytics</li>
            <li><i class="fas fa-cog"></i> &nbsp; Setting</li>
        </ul>
    </div>
    <div class="container">
        <div class="header">
            <div class="nav">
                <div class="search">
                    <input type="text" placeholder="Search..">
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
                <div class="user">
                    <a href="#" class="btn">Add New</a>
                    <i class="fa-solid fa-bell"></i>
                </div>
            </div>
        </div>
    </div>
</body>
</html>