* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

body {
    position: relative;
    width: 100%;
}

.header {
    height: 60px;
    width: 100%;
    background-color: aqua;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #f1f1f1;
}

.logo {
    display: flex;
    align-items: center;
    width: 300px;
    padding-left: 40px;
}

.search-notification-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100%-300px);
    padding: 0 40px;
}

.search {
    background-color: #f1f4f8;
    border-radius: 50px;
    width: 400px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

search input {
    background-color: transparent;
    outline: none;
    border: none;
    text-indent: 15px;
    width: 85%;
}

.notification-profile {
    display: flex;
    align-items: center;
    margin-left: 158px;
    gap: 62px;
}

.notification-profile .picon {
    font-size: 1.5em;
    /* Increase icon size */
}

/* .profile {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
} */

.main {
    position: relative;
    width: 100%;
    min-height: calc(100vh -60px);
    background-color: azure;
}

/*side bar*/
.main .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 574px;
    width: 240px;
    background-color: blue;
}

/* main-content*/
.main .main-content {
    position: absolute;
    top: 0;
    right: 0;
    height: 577px;
    width: 1111px;
    background-color: red;
}