* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sans-Serif';
}

body {
    min-height: 100vh;
    width: 100%;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 240px;

    background: linear-gradient(black, rgb(255, 0, 0));
}

.logo {
    background-image: url("/images/flavourhub2-logo.png");
    height: 90px;
    width: 90px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-name {
    background-image: url("/images/flavourhub-name.png");
    height: 120px;
    width: 150px;
    background-size: cover;
    padding-top: 1rem;
}


.sidebar .logo-details {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}




.sidebar .nav-links {
    margin-top: 30px;

}

.sidebar .nav-links li {
    height: 50px;
    width: 100%;
    list-style: none;


}

.sidebar .nav-links li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
}

.sidebar .nav-links li a:hover {
    background: darkred;
}

.sidebar .nav-links li a i {
    min-width: 60px;
    text-align: center;
    color: #fff;
    font-size: 24px;


}

.sidebar .nav-links li a .link-name {
    color: #fff;
    font-size: 30px;
    font-weight: 400;


}

/*home-content*/
.home-section {
    position: relative;
    min-height: 100vh;
    width: calc(100% - 240px);
    left: 240px;
}

.home-section nav {
    height: 80px;
    background: maroon;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-section nav .sidebar-button {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;

}

.home-section nav .sidebar-button span {
    color: white;
}

.home-section nav .sidebar-button i {
    font-size: 35px;
    margin-right: 10px;
    color: white;

}

.home-section nav .search-box {
    height: 50px;
    width: 550px;
    margin: 0 0px;
    position: relative;
}

nav .search-box input {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    padding: 0 15px;
    font-size: 17px;
    background: #f5f6fa;
    border: 2px solid #efeef1;
    outline: none;
}

nav .search-box .fa-magnifying-glass {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 40px;
    width: 40px;
    background: #2697ff;
    border-radius: 6px;
    color: #fff;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
}

.home-section nav .profile-details {
    display: flex;
    align-items: center;
    height: 50px;
    min-width: 190px;
    background: #f5f6fa;
    border: 2px solid #efeef1;
    border-radius: 6px;
    padding: 0 15px 0 2px;
}

nav .profile-details img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 6px;
}

nav .profile-details .admin_name {
    font-size: 15px;
    font-weight: 500;
    color: #333;
    margin: 0 10px;
    white-space: nowrap;
}

nav .profile-details i {
    color: #333;
    font-size: 25px;
}

.home-section .home-content {
    position: relative;
    padding-top: 11px;

}