body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

.bg {

    background: #253D2B;
}

header .navbar {
    position: static;
}

.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #6f4f96;
}

.order-list {
    margin-top: 20px;
}

.order-list h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.order-item {
    background-color: #fafafa;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.order-item h3 {
    margin: 0;
    font-size: 18px;
    color: #6f4f96;
}

.order-details {
    font-size: 14px;
    margin-top: 5px;
    color: #777;
}

button {
    padding: 8px 16px;
    background-color: #6f4f96;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #7a5baf;
}

.home {
    text-align: right;
    margin-right: 10px;
}

.home-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #379c50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background 0.3s;
}