.bg {

    background: #253D2B;
}

header .navbar {
    position: static;
}

main {
    padding: 1rem;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2rem;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.product-container article img {
    width: 100%;
    aspect-ratio: 1 1;
    object-fit: contain;
}