<!DOCTYPE html>
<html lang="en">

<head data-th-replace="~{customer/common :: head}">

</head>

<body>
    <link rel="stylesheet" href="/style/customer.home.css">
    <header data-th-replace="~{customer/common :: header}"></header>

    <!-- banner image section -->
    <div class="banner">
        <div class="banner-img">
            <div class="overlay">
                <div class="decription">
                    <h1> Deliciousness at your Doorstep</h1>
                </div>
                <div class="search-bar">
                    <input placeholder="Search on Flavour Hub" class="search-input">
                    <div class="search-icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </div>
                <div class="login-signin">
                    <button class="btn">Log in</button>
                    <button class="btn">Sign in</button>
                </div>
            </div>
        </div>
    </div>
    <!-- offer section -->
    <div class="left-align-wrapper">
        <section class="">
            <div class="content grid">
                <div class="content-left">
                    <div class="info">
                        <h2>UpTo <span>50%</span> Off on First Order</h2>
                        <h2>+ 10% Cashback</h2>
                        <button>Explore Food</button>
                    </div>
                    <!-- <div class="img">
                        <img src="/images/coffee-bg.png" alt="">
                    </div> -->
                    <div class="img-sec">
                        <img src="/images/biriyani-bg.png" alt="">
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!--popular dish-->
    <div class="popular-dishes">
        <h2>Popular Dishes</h2>
        <div class="sub-popular-dishes">
            <div class="dish">
                <div class="image-container">
                    <img src="/images/biriyani3.jpg" alt="">
                </div>
                <div class="details">
                    <p class="price">Price: ₹150</p>
                    <p class="discount">10% off</p>
                    <p class=" details-about">Flavorful blend spices.</p>
                    <button class="order-now">Order Now</button>
                </div>
            </div>
            <div class="dish">
                <div class="image-container">
                    <img src="/images/butterpaneer1.jpg" alt="">
                </div>
                <div class="details">
                    <p class="price">Price: ₹80.00</p>
                    <p class="discount">15% off</p>
                    <p class="details-about">Savory with a hint of garlic</p>
                    <button class="order-now">Order Now</button>
                </div>
            </div>
            <div class="dish">
                <div class="image-container">
                    <img src="/images/french-fries.jpg" alt="">
                </div>
                <div class="details">
                    <p class="price">Price: ₹50.00</p>
                    <p class="discount">20% off</p>
                    <p class="details-about"> Crispy for cravings.</p>
                    <button class="order-now">Order Now</button>
                </div>
            </div>
            <div class="dish">
                <div class="image-container">
                    <img src="/images/gupchup.jpg" alt="">
                </div>
                <div class="details">
                    <p class="price">Price: ₹40.00</p>
                    <p class="discount">10% off</p>
                    <p class="details-about">Crispy spheres of pure joy.</p>
                    <button class="order-now">Order Now</button>
                </div>
            </div>
            <div class="dish">
                <div class="image-container">
                    <img src="/images/paneer.jpg" alt="">
                </div>
                <div class="details">
                    <p class="price">Price: ₹60.00</p>
                    <p class="discount">10% off</p>
                    <p class="details-about">Taste of pure delight.</p>
                    <button class="order-now">Order Now</button>
                </div>
            </div>
        </div>
    </div>
    <!--menu-->

    <section class="catagory">
        <div class="menu" id="menu">
            <h1>Our <span>menu</span></h1>

            <div class="food-gallery">
                <div class="food-container" data-th-each="category : ${categories}">
                    <a data-th-href="|/customer/category/plp?category=${category.categoryId}|">
                        <div class="food-image">
                            <img src="/images/samosha.jpg" alt="samosha">
                        </div>
                    </a>
                    <div class="food-name" data-th-text="${category.categoryName}"></div>
                </div>
            </div>
        </div>
    </section>

    <!--about us-->
    <section class="aboutus">
        <div class="about test" id="About">
            <div class="about_main">
                <div class="image">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlWDIy_Z07_o0za65SdOJfEeJOGf-ZOXHYNw&s"
                        alt="image">

                </div>
                <div class="about_text">
                    <h1><span>About</span>Us</h1>
                    <h3>Why We are the <span>Best</span>Choice?</h3>
                    <h3>Taste of Home, Delivered to Your Doorstep</h3>
                    <p>Craving the familiar flavors of mom's cooking? We bring you authentic, homemade
                        meals made with love and the freshest ingredients.Remember those comforting dishes that
                        filled
                        your childhood home with warmth? At Flavour Hub, we recreate those cherished recipes, using
                        time-honored techniques and the finest
                        ingredients.We prioritize fresh, locally sourced ingredients and avoid
                        artificial flavors, preservatives, and excessive oil. From hearty stews to fragrant curries,
                        each dish is prepared with the same care and
                        attention as if it were cooked in your own kitchen. Skip the cooking tonight and indulge in
                        the taste of home.</p>
                </div>
            </div>
        </div>
    </section>

    <!--Review-->
    <div class="review" id="Review">
        <h1>Customer<span>Review</span></h1>
        <div class="review_box">
            <div class="review_card">
                <div class="review_profile">
                    <img src="/images/customer1.jpg" alt="">
                </div>
                <div class="review_text">
                    <h2 class="name">Shilpa</h2>
                    <div class="review_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>

                    </div>
                    <p>"Absolutely delicious! I ordered the Butter Chicken and Garlic Naan,the flavors were rich and
                        authentic.Delivery was also super fast. Highly recommend!"
                    </p>
                </div>
            </div>
            <div class="review_card">
                <div class="review_profile">
                    <img src="/images/customer2.jpg" alt="">
                </div>
                <div class="review_text">
                    <h2 class="name">Rajalaxmi</h2>
                    <div class="review_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>

                    </div>
                    <p>"My go-to for healthy takeout! The Salad Bowl options are fantastic.The packaging is also
                        eco-friendly.
                    </p>
                </div>
            </div>
            <div class="review_card">
                <div class="review_profile">
                    <img src="/images/customer3.jpg" alt="">
                </div>
                <div class="review_text">
                    <h2 class="name">Madhu</h2>
                    <div class="review_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>

                    </div>
                    <p> "Best pizza delivery in town! The crust was perfectly cooked, and the toppings were fresh
                        and
                        high-quality.I especially loved the Spicy Pepperoni pizza.</p>
                </div>
            </div>
            <div class="review_card">
                <div class="review_profile">
                    <img src="/images/customer4.jpg" alt="">
                </div>
                <div class="review_text">
                    <h2 class="name">Smriti</h2>
                    <div class="review_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>

                    </div>
                    <p>"Excellent service and food! I had a special request for my order, and the team was
                        incredibly
                        accommodating.The Chicken Tikka Masala was
                        outstanding.</p>
                </div>
            </div>
            <div class="review_card">
                <div class="review_profile">
                    <img src="/images/customer5.jpg" alt="">
                </div>
                <div class="review_text">
                    <h2 class="name">Bandita</h2>
                    <div class="review_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <p>"Amazing food and great value.The veg thali was packed with
                        flavor, and the spring rolls were crispy and fresh. Ordering was easy on the website, and
                        the
                        delivery driver was friendly.</p>
                </div>
            </div>
        </div>
    </div>

    <!--Order-->
    <!-- 
    <div class="order" id="Order">
        <h1><span>Order</span>Now</h1>
        <div class="order_main">
            <div class="order_image">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUVGiJJUGrC2AwlX0_2pcjPM1wjzmquO-M6A&s"
                    alt="">
            </div>
            <form action="#">
                <div class="input">
                    <p>Name</p>
                    <input type="text" placeholder="Your name">
                </div>

                <div class="input">
                    <p>Email</p>
                    <input type="email" placeholder="Your email">
                </div>
                <div class="input">
                    <p>Number</p>
                    <input placeholder="Your number">
                </div>
                <div class="input">
                    <p>How Much</p>
                    <input type="number" placeholder="how much">
                </div>
                <div class="input">
                    <p>You Order</p>
                    <input placeholder="food name">
                </div>
                <div class="input">
                    <p>Address</p>
                    <input placeholder="Your Addres">
                </div>

                <a href="#" class="order_btn">Order Now</a>
            </form>
        </div>
    </div> -->

    <!--our team-->
    <div class="gallery-container">
        <h1>Our <span>Gallery</span></h1>
        <div class="our-gallery">

            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKtRB2d44rMs13JycigZVId8gscrvrJL4BkA&s"
                alt="Image 1">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/046/785/118/small/cozy-kitchen-scene-with-two-people-actively-cooking-and-preparing-food-photo.jpg"
                alt="Image 2">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2Nppu_Uos62dUJp8W2MPJGu_frKOpBwnk_w&s"
                alt="Image 3">
            <img src="https://www.helpguide.org/wp-content/uploads/2023/02/Cooking-at-Home-1200x800.jpeg" alt="Image 4">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbMfjhb-juNuOH-nNyLxYkanrJMOcmUVEjXg&s"
                alt="Image 5">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOxCT_xiiWu_mdnM-dxLvC__EjSOPni6z_Xg&s"
                alt="Image 6">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjKruyjukr0XnvlePDykjStvxpa-WCC7qQ0w&s"
                alt="Image 7">
            <img src="https://images.unsplash.com/photo-1556911220-e15b29be8c8f?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y29va2luZyUyMGluJTIwa2l0Y2hlbnxlbnwwfHwwfHx8MA%3D%3D"
                alt="Image 8">
        </div>
        <p class="gallery-paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit. In odit repellendus
            praesentium repudiandae, nobis aliquid incidunt assumenda tempora quam, expedita unde ad nemo soluta
            adipisci. Minima quas vitae non cupiditate veniam, vel aut repellendus labore reprehenderit culpa illo
            necessitatibus error harum quidem possimus molestiae est, aliquid omnis in dolorem commodi magni
            perferendis. Eum, voluptates tempora cumque porro facilis error praesentium perspiciatis nisi
            consequatur
            illo deleniti iste, corrupti, minus quidem amet!</p>
    </div>

    <!--our team-->
    <div class="team">
        <h1>Our<span>Team</span></h1>
        <div class="team_box">
            <div class="profile">
                <img src="/images/profile1.jpg" alt="">
                <div class="info">
                    <h2 class="name">Chef</h2>
                    <p class="bio">Rupalika</p>
                    <div class="team_icon">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                </div>
            </div>
            <div class="profile">
                <img src="/images/profile2.jpg" alt="">
                <div class="info">
                    <h2 class="name">Chef</h2>
                    <p class="bio">Pratikshya</p>
                    <div class="team_icon">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                </div>
            </div>

            <div class="profile">
                <img src="/images/profile3.jpg" alt="">
                <div class="info">
                    <h2 class="name">Chef</h2>
                    <p class="bio">Anjani</p>
                    <div class="team_icon">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                </div>
            </div>

            <div class="profile">
                <img src="/images/profile4.jpg" alt="">
                <div class="info">
                    <h2 class="name">Chef</h2>
                    <p class="bio">Subranjali</p>
                    <div class="team_icon">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <footer data-th-replace="~{customer/common :: footer}"></footer>

</body>

</html>