<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Gallery</title>
    <link rel="stylesheet" href="/style/customer.home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
</head>

<body>

    <div class="left-align-wrapper">
        <section class="">
            <div class="content grid">
                <div class="content-left">
                    <div class="info">
                        <h2>UpTo <span>50%</span>Off <br>on First Order <br>+10% Cashback</h2>

                    </div>
                    <button>Explore Food</button>
                </div>
                <div class="content-right">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRV0t80km_gYrCgPRc29SmSh0EUE0CcVlBzwQ&s"
                        alt="image">
                    <img src="https://lh3.googleusercontent.com/I-yWnUzuZFklf1L60CY0RKaJbFqLOVyNYuxbaLVQGqavZ4rYEVJk7p5qYQbM2g7ZzC2BKFZz6b7y7W-eM6zwDXJ3ZQ"
                        alt="momo">
                    <img src="https://m.media-amazon.com/images/S/aplus-media-library-service-media/85f4b1b2-575c-4bfc-870f-1541344d6a88.__CR0,0,970,600_PT0_SX970_V1___.jpg"
                        alt="pizza">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9PNZsn2SpyZHpL3jjrx-6bRnhAbFkB1DX4Q&s"
                        alt="biriyani">
                </div>
            </div>
        </section>
    </div>
    <!--popular dish-->
    <div class="popular-dishes">
        <h2>Popular Dishes</h2>
        <div class="dish">
            <div class="image-container">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Bangladeshi_Biryani.jpg/220px-Bangladeshi_Biryani.jpg"
                    alt="Dish 1">
            </div>
            <div class="details">
                <p class="price">Price: ₹199</p>
                <p class="discount">10% off</p>
                <p class="about">A delicious blend of spices & herbs.</p>
                <button class="order-now">Order Now</button>
            </div>
        </div>
        <div class="dish">
            <div class="image-container">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJEXcW1VHFOe0ujaP6SLq3PVyScSCm2i1vLA&s"
                    alt="Dish 2">
            </div>
            <div class="details">
                <p class="price">Price: ₹80.00</p>
                <p class="discount">15% off</p>
                <p class="about">Savory  with a hint of garlic.</p>
                <button class="order-now">Order Now</button>
            </div>
        </div>
        <div class="dish">
            <div class="image-container">
                <img src="https://thissillygirlskitchen.com/wp-content/uploads/2020/02/homemade-french-fries-8-1-500x500.jpg"
                    alt="Dish 3">
            </div>
            <div class="details">
                <p class="price">Price: ₹50.00</p>
                <p class="discount">20% off</p>
                <p class="about"> seasoned & cooked to perfection.</p>
                <button class="order-now">Order Now</button>
            </div>
        </div>
        <div class="dish">
            <div class="image-container">
                <img src="https://i0.wp.com/vegehomecooking.com/wp-content/uploads/2021/09/PapdichaatFeaturedImage.jpg?fit=1200%2C1200&ssl=1"
                    alt="Dish 1">
            </div>
            <div class="details">
                <p class="price">Price: ₹40.00</p>
                <p class="discount">10% off</p>
                <p class="about">A delicious blend of spices & herbs.</p>
                <button class="order-now">Order Now</button>
            </div>
        </div>
        <div class="dish">
            <div class="image-container">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_JfZHtD_jlggLqhDlthd7Jg2o4gt7OrWH7w&s"
                    alt="Dish 1">
            </div>
            <div class="details">
                <p class="price">Price: ₹185.00</p>
                <p class="discount">10% off</p>
                <p class="about">A delicious blend of spices & herbs.</p>
                <button class="order-now">Order Now</button>
            </div>
        </div>
    </div>
    <!--menu-->

    <section class="catagory">
        <div class="menu" id="menu">
            <h1>Our <span>menu</span></h1>

            <div class="food-gallery">
                <div class="food-container">
                    <a href="demo2.html">
                        <div class="food-image">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgyBVikMCSeypRYb2Grtcy96VlLdUizQrYOg&s"
                                alt="Samosa">
                        </div>
                    </a>
                    <div class="food-name">Samosa</div>
                </div>
                <div class="food-container">
                    <a href="demo2.html">
                        <div class="food-image">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJVrC2Z7OCjmZQ1vrNmWWaJRrMaJ9HzFn2kg&s"
                                alt="dosa">
                        </div>
                    </a>
                    <div class="food-name">Dosa</div>
                </div>
                <div class="food-container">
                    <a href="demo2.html">
                        <div class="food-image">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZ9c4T8ahaLDklv9SRpAWhrYIyRZYuphaLPg&s"
                                alt="pizza">
                        </div>
                    </a>
                    <div class="food-name">Pizza</div>
                </div>
                <div class="food-container">
                    <a href="demo2.html">
                        <div class="food-image">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZeR13Hw9yrUF4G17n-rqU9DDdowiuIMe70g&s"
                                alt="Butter Paneer">
                        </div>
                    </a>
                    <div class="food-name">Butter Paneer</div>
                </div>
                <div class="food-container">
                    <a href="demo2.html">
                        <div class="food-image">
                            <img src="https://i.pinimg.com/736x/43/2b/e9/432be9f374ad1d1efcd5f3bccd3aa0c1.jpg"
                                alt="Manchurian">
                        </div>
                    </a>
                    <div class="food-name">Manchurian</div>
                </div>
                <div class="food-container">
                    <a href="demo2.html">
                        <div class="food-image">
                            <img src="https://t4.ftcdn.net/jpg/02/75/78/11/360_F_275781199_GWVPQy9OZWIdk8KTtXRfiDMQK6mFyuc5.jpg"
                                alt="Chowmin">
                        </div>
                    </a>
                    <div class="food-name">Chowmin</div>
                </div>
                <div class="food-container">
                    <a href="demo2.html">
                        <div class="food-image">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLfQN-rGhcenba6gG2gL2hautDZGzRO0Darg&s"
                                alt="Veg Thali">
                        </div>
                    </a>
                    <div class="food-name">Veg Thali</div>
                </div>
                <div class="food-container">
                    <a href="demo2.html">
                        <div class="food-image">
                            <img src="https://cdn.zeptonow.com/production///tr:w-600,ar-100-100,pr-true,f-auto,q-80/web/recipes/idli.png"
                                alt="idili">
                        </div>
                    </a>
                    <div class="food-name">Idli</div>
                </div>
                <div class="food-container">
                    <a href="demo2.html">
                        <div class="food-image">
                            <img src=" https://www.shutterstock.com/image-photo/grilled-gourmet-burger-cheese-tomato-600nw-2467669143.jpg"
                                alt="Burger">
                        </div>
                    </a>
                    <div class="food-name">Burger</div>
                </div>
                <!-- Add more food containers as needed -->
            </div>
        </div>

    </section>

    <!--about us-->
    <section class="aboutus">
        <div class="about test"  id="About">
            <div class="about_main">
                <div class="image">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlWDIy_Z07_o0za65SdOJfEeJOGf-ZOXHYNw&s"
                        alt="image">

                </div>
                <div class="about_text">
                    <h1><span>About</span>Us</h1>
                    <h3>Why We are the <span>Best</span>Choice</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati nulla nemo similique,
                        pariatur perspiciatis recusandae. Explicabo cum facilis sapiente itaque nesciunt atque nihil
                        alias nostrum, ad ipsum labore accusamus quaerat, maxime ipsa temporibus expedita unde quam hic
                        libero, beatae quas dolorum qui. Ducimus, obcaecati incidunt.</p>
                </div>

            </div>

        </div>
    </section>
    <!--Review-->
    <div class="review" id="Review">
        <h1>Customer<span>Review</span></h1>
        <div class="review_box">
            <div class="review_card">
                <div class="review_profile">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQBFy0j_72yEKBKNRbPbCzxfNxq1H9Y57ygg&s"
                        alt="">
                </div>
                <div class="review_text">
                    <h2 class="name">John Leo</h2>
                    <div class="review_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>

                    </div>
                    <div class="review_social">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-linkedin-in"></i>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod mollitia, nostrum temporibus vitae
                        molestias praesentium recusandae numquam tempore ratione modi?</p>
                </div>
            </div>
            <div class="review_card">
                <div class="review_profile">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQBFy0j_72yEKBKNRbPbCzxfNxq1H9Y57ygg&s"
                        alt="">
                </div>
                <div class="review_text">
                    <h2 class="name">John Leo</h2>
                    <div class="review_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>

                    </div>
                    <div class="review_social">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-linkedin-in"></i>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod mollitia, nostrum temporibus vitae
                        molestias praesentium recusandae numquam tempore ratione modi?</p>
                </div>
            </div>
            <div class="review_card">
                <div class="review_profile">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQBFy0j_72yEKBKNRbPbCzxfNxq1H9Y57ygg&s"
                        alt="">
                </div>
                <div class="review_text">
                    <h2 class="name">John Leo</h2>
                    <div class="review_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>

                    </div>
                    <div class="review_social">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-linkedin-in"></i>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod mollitia, nostrum temporibus vitae
                        molestias praesentium recusandae numquam tempore ratione modi?</p>
                </div>
            </div>
            <div class="review_card">
                <div class="review_profile">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQBFy0j_72yEKBKNRbPbCzxfNxq1H9Y57ygg&s"
                        alt="">
                </div>
                <div class="review_text">
                    <h2 class="name">John Leo</h2>
                    <div class="review_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>

                    </div>
                    <div class="review_social">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-linkedin-in"></i>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod mollitia, nostrum temporibus vitae
                        molestias praesentium recusandae numquam tempore ratione modi?</p>
                </div>
            </div>
            <div class="review_card">
                <div class="review_profile">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQBFy0j_72yEKBKNRbPbCzxfNxq1H9Y57ygg&s"
                        alt="">
                </div>
                <div class="review_text">
                    <h2 class="name">John Leo</h2>
                    <div class="review_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>

                    </div>
                    <div class="review_social">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-linkedin-in"></i>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod mollitia, nostrum temporibus vitae
                        molestias praesentium recusandae numquam tempore ratione modi?</p>
                </div>
            </div>
        </div>
    </div>

    <!--Order-->

    <!-- <div class="order" id="Order">
        <h1><span>Order</span>Now</h1>
        <div class="order_main">
            <div class="order_image">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUVGiJJUGrC2AwlX0_2pcjPM1wjzmquO-M6A&s"
                    alt="">
            </div>
            <form action="#">
                <div class="input">
                    <p>Name</p>
                    <input type="text" placeholder="Your name">
                </div>

                <div class="input">
                    <p>Email</p>
                    <input type="email" placeholder="Your email">
                </div>
                <div class="input">
                    <p>Number</p>
                    <input placeholder="Your number">
                </div>
                <div class="input">
                    <p>How Much</p>
                    <input type="number" placeholder="how much">
                </div>
                <div class="input">
                    <p>You Order</p>
                    <input placeholder="food name">
                </div>
                <div class="input">
                    <p>Address</p>
                    <input placeholder="Your Addres">
                </div>

                <a href="#" class="order_btn">Order Now</a>
            </form>
        </div>
    </div> -->

    <!--our team-->
    <div class="gallery-container">
        <h1>Our <span>Gallery</span></h1>
        <div class="our-gallery">

            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKtRB2d44rMs13JycigZVId8gscrvrJL4BkA&s"
                alt="Image 1">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/046/785/118/small/cozy-kitchen-scene-with-two-people-actively-cooking-and-preparing-food-photo.jpg"
                alt="Image 2">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2Nppu_Uos62dUJp8W2MPJGu_frKOpBwnk_w&s"
                alt="Image 3">
            <img src="https://www.helpguide.org/wp-content/uploads/2023/02/Cooking-at-Home-1200x800.jpeg" alt="Image 4">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbMfjhb-juNuOH-nNyLxYkanrJMOcmUVEjXg&s"
                alt="Image 5">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOxCT_xiiWu_mdnM-dxLvC__EjSOPni6z_Xg&s"
                alt="Image 6">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjKruyjukr0XnvlePDykjStvxpa-WCC7qQ0w&s"
                alt="Image 7">
            <img src="https://images.unsplash.com/photo-1556911220-e15b29be8c8f?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y29va2luZyUyMGluJTIwa2l0Y2hlbnxlbnwwfHwwfHx8MA%3D%3D"
                alt="Image 8">
        </div>
        <p class="gallery-paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit. In odit repellendus praesentium repudiandae, nobis aliquid incidunt assumenda tempora quam, expedita unde ad nemo soluta adipisci. Minima quas vitae non cupiditate veniam, vel aut repellendus labore reprehenderit culpa illo necessitatibus error harum quidem possimus molestiae est, aliquid omnis in dolorem commodi magni perferendis. Eum, voluptates tempora cumque porro facilis error praesentium perspiciatis nisi consequatur illo deleniti iste, corrupti, minus quidem amet!</p>
    </div>



    <!--our team-->
    <div class="team">
        <h1>Our<span>Team</span></h1>
        <div class="team_box">
            <div class="profile">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAq3SEkMXhnW2yXIK46BUeYWVCHXjX2uksfw&s" alt="">
                <div class="info">
                    <h2 class="name">Chef</h2>
                    <p class="bio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus illo sint tempora ad doloremque beatae.</p>
                    <div class="team_icon">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                </div>
            </div>

            <div class="profile">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAq3SEkMXhnW2yXIK46BUeYWVCHXjX2uksfw&s" alt="">
                <div class="info">
                    <h2 class="name">Chef</h2>
                    <p class="bio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus illo sint tempora ad doloremque beatae.</p>
                    <div class="team_icon">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                </div>
            </div>

            <div class="profile">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAq3SEkMXhnW2yXIK46BUeYWVCHXjX2uksfw&s" alt="">
                <div class="info">
                    <h2 class="name">Chef</h2>
                    <p class="bio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus illo sint tempora ad doloremque beatae.</p>
                    <div class="team_icon">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                </div>
            </div>

            <div class="profile">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAq3SEkMXhnW2yXIK46BUeYWVCHXjX2uksfw&s" alt="">
                <div class="info">
                    <h2 class="name">Chef</h2>
                    <p class="bio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus illo sint tempora ad doloremque beatae.</p>
                    <div class="team_icon">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--Footer-->
    <footer>
        <div class="footer_main">

            <div class="footer_tag">
                <h2>Location</h2>
                <p>Bhubaneswar</p>
                <p>Hyderabad</p>
                <p>Patna</p>
                <p>hhf</p>
                <p>ujhg</p>
            </div>

            <div class="footer_tag">
                <h2>Quick Link</h2>
                <p>Home</p>
                <p>About</p>
                <p>Menu</p>
                <p>Gallary</p>
                <p>Order</p>
            </div>

            <div class="footer_tag">
                <h2>Contact</h2>
                <p>+91 5478837364</p>
                <p>+91 6736684844</p>
                <p>pratikshya@gmail.com</p>
                <p>rupalika@gmail.com</p>
                
            </div>
            <div class="footer_tag">
                <h2>Our Service</h2>
                <p>Fast Delicery</p>
                <p>Easy Payment</p>
                <p>24 x 7 Service</p>
                
            </div>
            <div class="footer_tag">
                <h2>Follow us</h2>
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-linkedin-in"></i>
            </div>
        </div>
  </footer>

</body>

</html>