<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order History</title>
    <link rel="stylesheet" href="/style/orderhistory.css">
</head>

<body>
    <div class="container">
        <header>
            <h1>Order History</h1>
        </header>

        <div class="order-list">
            <h2>Your Orders</h2>
            <ul id="order-history">
                <!-- Orders will be inserted here using JavaScript -->
                <li class="order-item" data-th-each="order : ${orders}">
                    <h3 data-th-text="|Order Id: ${order.orderId}|"></h3>
                    <div class="order-details">
                        <p data-th-utext="|<strong>Total:</strong> &#8377;${order.totalPrice}|"></p>
                        <p data-th-utext="|<strong>Status:</strong> ${order.orderStatus}|"></p>
                    </div>
                    <!-- <button onclick="viewOrderDetails('12345')">View Details</button> -->
                </li>
            </ul>
        </div>
    </div>
</body>

</html>