<!DOCTYPE html>
<html lang="en">

<head data-th-replace="~{customer/common :: head}">

</head>

<body>
    <link rel="stylesheet" href="/style/plp.css">
    <header data-th-replace="~{customer/common :: header}"></header>

    <div class="catagories">
        <h2>Explore Categories</h2>

        <div class="category-container">
            <a href="/images/biriyani-bg.png" class="category-card">
                <img src="/images/biriyani-bg.png" alt="Burgers">
                <div class="category-title">Burgers</div>
            </a>

            <a href="pasta.html" class="category-card">
                <img src="/images/biriyani-bg.png" alt="Pasta">
                <div class="category-title">Pasta</div>
            </a>

            <a href="desserts.html" class="category-card">
                <img src="/images/biriyani-bg.png" alt="Desserts">
                <div class="category-title">Desserts</div>
            </a>

            <a href="beverages.html" class="category-card">
                <img src="/images/biriyani-bg.png" alt="Beverages">
                <div class="category-title">Beverages</div>
            </a> <a href="beverages.html" class="category-card">
                <img src="/images/biriyani-bg.png" alt="Beverages">
                <div class="category-title">Beverages</div>
            </a>
            <a href="beverages.html" class="category-card">
                <img src="/images/biriyani-bg.png" alt="Beverages">
                <div class="category-title">Beverages</div>
            </a>
        </div>
    </div>
    <div class="menu">
        <section class="menu-section">
            <h2 class="menu-title">Our Exquisite Menu</h2>
            <div class="menu-grid">
                <div class="card">
                    <img src="/images/egg3.jpg" alt="Truffle Pasta">
                    <div class="card-content">
                        <h3>Truffle Pasta</h3>
                        <p>Creamy truffle-infused pasta with parmesan shavings.</p>
                        <p class="price">$22</p>
                        <div class="buttons">
                            <button class="add-cart">Add to Cart</button>
                            <button class="order-now">Order Now</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="/images/pav-vaji.jpg" alt="Gourmet Burger">
                    <div class="card-content">
                        <h3>Gourmet Burger</h3>
                        <p>Juicy wagyu beef patty with artisanal brioche bun.</p>
                        <p class="price">$18</p>
                        <div class="buttons">
                            <button class="add-cart">Add to Cart</button>
                            <button class="order-now">Order Now</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="/images/sweets.jpg" alt="Sushi Platter">
                    <div class="card-content">
                        <h3>Sushi Platter</h3>
                        <p>Assorted premium sushi rolls with fresh ingredients.</p>
                        <p class="price">$30</p>
                        <div class="buttons">
                            <button class="add-cart">Add to Cart</button>
                            <button class="order-now">Order Now</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="/images/sweets.jpg" alt="Grilled Steak">
                    <div class="card-content">
                        <h3>Grilled Steak</h3>
                        <p>Perfectly grilled steak with a side of rosemary potatoes.</p>
                        <p class="price">$35</p>
                        <div class="buttons">
                            <button class="add-cart">Add to Cart</button>
                            <button class="order-now">Order Now</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="/images/sweets.jpg" alt="Grilled Steak">
                    <div class="card-content">
                        <h3>Grilled Steak</h3>
                        <p>Perfectly grilled steak with a side of rosemary potatoes.</p>
                        <p class="price">$35</p>
                        <div class="buttons">
                            <button class="add-cart">Add to Cart</button>
                            <button class="order-now">Order Now</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="/images/sweets.jpg" alt="Grilled Steak">
                    <div class="card-content">
                        <h3>Grilled Steak</h3>
                        <p>Perfectly grilled steak with a side of rosemary potatoes.</p>
                        <p class="price">$35</p>
                        <div class="buttons">
                            <button class="add-cart">Add to Cart</button>
                            <button class="order-now">Order Now</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="/images/sweets.jpg" alt="Grilled Steak">
                    <div class="card-content">
                        <h3>Grilled Steak</h3>
                        <p>Perfectly grilled steak with a side of rosemary potatoes.</p>
                        <p class="price">$35</p>
                        <div class="buttons">
                            <button class="add-cart">Add to Cart</button>
                            <button class="order-now">Order Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- premium dish -->

    <section class="premium-dishes">
        <h2 class="section-title">Premium Dishes</h2>
        <div class="dish-cards-container">
            <!-- Dish 1 -->
            <div class="dish-card" id="dish1">
                <img src="/images/pizza1.png" alt="Dish 1" class="dish-image">
                <div class="dish-info">
                    <h3 class="dish-name">Dish Name 1</h3>
                    <span class="price">60 Rs</span>
                    <button class="order-btn">Order Now</button>
                    <button class="view-btn">View Details</button>
                </div>
            </div>

            <!-- Dish 2 -->
            <div class="dish-card" id="dish2">
                <img src="/images/samosha.jpg" alt="Dish 2" class="dish-image">
                <div class="dish-info">
                    <h3 class="dish-name">Dish Name 2</h3>
                    <span class="price">$38.99</span>
                    <button class="order-btn">Order Now</button>
                    <button class="view-btn">View Details</button>
                </div>
            </div>

            <!-- Dish 3 -->
            <div class="dish-card" id="dish3">
                <img src="/images/idli1.jpg" alt="Dish 3" class="dish-image">
                <div class="dish-info">
                    <h3 class="dish-name">Dish Name 3</h3>
                    <span class="price">$45.99</span>
                    <button class="order-btn">Order Now</button>
                    <button class="view-btn">View Details</button>
                </div>
            </div>
            <!-- Dish 2 -->
            <div class="dish-card" id="dish2">
                <img src="/images/samosha.jpg" alt="Dish 2" class="dish-image">
                <div class="dish-info">
                    <h3 class="dish-name">Dish Name 2</h3>
                    <span class="price">$38.99</span>
                    <button class="order-btn">Order Now</button>
                    <button class="view-btn">View Details</button>
                </div>
            </div>


            <!-- Dish 4 -->
            <div class="dish-card" id="dish4">
                <img src="/images/idli1.jpg" alt="Dish 4" class="dish-image">
                <div class="dish-info">
                    <h3 class="dish-name">Dish Name 4</h3>
                    <span class="price">$52.99</span>
                    <button class="order-btn">Order Now</button>
                    <button class="view-btn">View Details</button>
                </div>
            </div>
        </div>

    </section>


    <!-- footer -->
    <footer data-th-replace="~{customer/common :: footer}"></footer>


    <script src="/script/plp.js"></script>
</body>

</html>