<!DOCTYPE html>
<html lang="en">

<head data-th-replace="~{customer/common :: head}">

</head>

<body>
    <link rel="stylesheet" href="/style/plp.css">
    <header data-th-replace="~{customer/common :: header}"></header>

    <main>
        <aside class="filter-section">
            <h2>Add filter</h2>
            <input type="checkbox"> Veg only
            <input type="checkbox"> Non Veg only
        </aside>

        <div class="products-section" data-th-if="${param.category != null}">
            <h2 data-th-text="|Matching items for ${category.categoryName}|"></h2>
            <div class="product-container">
                <article class="product" data-th-each="item : ${category.foodItems}">
                    <a data-th-href="|/customer/food_item/pdp?food_item=${item.foodId}|">
                        <div class="img-container">
                            <img data-th-src="|/foodItem/image/${item.foodId}|" alt="">
                        </div>
                        <div class="product-title">
                            <h4 data-th-text="${item.foodName}"></h4>
                            <p data-th-text="|&#8377; ${item.price}|"></p>
                        </div>
                        <div class="product-action">
                            <button> <a data-th-href="|/customer/cart?item=${item.foodId}|">Add to cart</a></button>
                            <button>
                                <a data-th-href="|/customer/food_item/pdp?food_item=${item.foodId}|">View</a>
                            </button>
                        </div>
                    </a>
                </article>

                <div data-th-if="${#lists.size(category.foodItems) == 0}">
                    <h1>No Item Available</h1>
                </div>
            </div>
        </div>

        <div class="products-section" data-th-if="${param.search != null}">
            <h2 data-th-text="|Matching items for ${param.search}|"></h2>
            <div class="product-container">
                <article class="product" data-th-each="item : ${foodItems}">
                    <a data-th-href="|/customer/food_item/pdp?food_item=${item.foodId}|" style="all: unset;">
                        <div class="img-container">
                            <img data-th-src="|/foodItem/image/${item.foodId}|" alt="">

                        </div>
                        <div class="product-title">
                            <h4 data-th-text="${item.foodName}"></h4>
                            <p data-th-text="|&#8377; ${item.price}|"></p>
                        </div>
                        <div class="product-action">
                            <a data-th-href="|/customer/cart?item=${item.foodId}|">Add to cart</a>
                            <button>View</button>
                        </div>
                    </a>
                </article>

                <div data-th-if="${#lists.size(foodItems) == 0}">
                    <h1>No Item Available</h1>

                </div>
            </div>
        </div>
    </main>


    <!-- footer -->
    <footer data-th-replace="~{customer/common :: footer}"></footer>

    <script src="/script/plp.js"></script>
</body>

</html>