<!DOCTYPE html>
<html lang="en">

<head data-th-replace="~{customer/common :: head}">

</head>

<body>
    <link rel="stylesheet" href="/style/plp.css">
    <header data-th-replace="~{customer/common :: header}"></header>

    <main>
        <aside class="filter-section">
            <h2>Add filter</h2>
            <input type="checkbox"> Veg only
            <input type="checkbox"> Non Veg only
        </aside>
        <div class="products-section">
            <h2 data-th-text="|Matching items for ${category.categoryName}|"></h2>
            <div class="product-container">
                <article class="product" data-th-each="item : ${category.foodItems}">
                    <div class="img-container">
                        <img src="/images/butterpaneer1.jpg" alt="">
                    </div>
                    <div class="product-title">
                        <h4 data-th-text="${item.foodName}"></h4>
                        <p>&#8377;230.00</p>
                    </div>
                    <div class="product-action">
                        <a href="#">Add to cart</a>
                    </div>
                </article>

            </div>
        </div>

    </main>


    <!-- footer -->
    <footer data-th-replace="~{customer/common :: footer}"></footer>


    <script src="/script/plp.js"></script>
</body>

</html>